.work {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  height: auto;
  background: var(--black-light);
  cursor: pointer;
  scroll-snap-align: center;
}

.work img {
  pointer-events: none;
}

.workDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 650px;
  padding: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.workDescription:hover {
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .work img {
    width: 350px;
    height: 100%;
  }

  .workDescription {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .work img {
    width: 400px;
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .work img {
    width: 280px;
    height: auto;
  }

  .workDescription {
    width: 280px;
    min-height: 72px;
    font-size: 14px;
    line-height: 16px;
  }
}
