.paragraph {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.paragraph:first-child {
  margin-top: 0;
}

.white {
  color: var(--white);
}

.light {
  color: var(--gray);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .paragraph {
    font-size: 14px;
  }
}
