.collab {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  margin: 168px auto 0;
  text-align: center;
}

.colored {
  color: var(--orange);
}

.header {
  font-weight: 500;
  font-size: 70px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.description,
.hr {
  width: 100%;
  max-width: 760px;
}

.cv {
  padding: 18px 45px;
  color: var(--black);
  border: none;
}

.cv a {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.cv svg {
  fill: var(--black);
}

.hire {
  padding: 18px 45px;
}

.buttonsContainer {
  display: flex;
  gap: 24px;
}

.bigCoube {
  top: 0;
  right: 50px;
  width: 93px;
}

.smallCoube {
  bottom: 50px;
  left: 100px;
  width: 48px;
  transform: rotate(-60deg);
}
