.collab {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  margin: 168px auto 0;
  text-align: center;
}

.colored {
  color: var(--orange);
}

.header {
  font-weight: 500;
  font-size: 70px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.description,
.hr {
  width: 100%;
  max-width: 760px;
}

.cv {
  padding: 18px 45px;
  color: var(--black);
  border: none;
}

.cv a {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.cv svg {
  width: 18px;
  height: 18px;
  fill: var(--black);
}

.hire {
  padding: 18px 45px;
}

.buttonsContainer {
  display: flex;
  gap: 24px;
}

.bigCoube {
  top: 0;
  right: 50px;
  width: 93px;
}

.smallCoube {
  bottom: 50px;
  left: 100px;
  width: 48px;
  transform: rotate(-60deg);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .collab {
    max-width: 1024px;
    margin: 100px auto;
  }

  .bigCoube {
    right: 20px;
  }

  .smallCoube {
    left: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .collab {
    width: 768px;
  }

  .bigCoube {
    top: -20%;
    right: 50px;
    width: 50px;
  }

  .smallCoube {
    left: 70px;
    width: 24px;
  }

  .cv,
  .hire {
    padding: 15px 35px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .collab {
    width: 100%;
    margin-top: 90px;
    padding: 20px;
  }

  .header {
    font-size: 40px;
  }

  .bigCoube {
    right: -20px;
    width: 50px;
  }

  .smallCoube {
    top: 60%;
    left: -5%;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .collab {
    width: 100%;
    margin-top: 90px;
    padding: 20px;
  }

  .header {
    font-size: 30px;
  }

  .bigCoube {
    right: -20px;
    width: 50px;
  }

  .smallCoube {
    top: 60%;
    left: -5%;
  }

  .cv,
  .hire {
    padding: 18px 20px;
  }
}

@media (min-width: 320px) and (max-width: 349px) {
  .buttonsContainer {
    flex-direction: column;
  }
}
