.carousel {
  display: flex;
  flex: none;
  flex-basis: 0;
  flex-flow: row nowrap;
  flex-grow: 1;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
}

.active {
  scroll-snap-type: unset;
}
