.wrapper {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  grid-template-areas:
    ". header ."
    ". body ."
    ". footer .";
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
  overflow: hidden;
}

.footer {
  grid-area: footer;
  width: 1280px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    max-width: 1024px;
  }

  .footer {
    max-width: 1024px;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    justify-content: center;
  }
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-areas:
      "header"
      "body"
      "footer";
    grid-template-columns: minmax(320px, 1fr);
  }
}
