.footer {
  display: grid;
  grid-template-rows: [start] auto [middle] auto [end];
  grid-template-columns: [start] 1fr [middle] auto [end];
  margin: 168px auto 33px;
  padding: 0 20px;
}

.description {
  grid-column: start / middle;
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.copyright {
  grid-column: start / middle;
  align-self: end;
}

.links {
  grid-row: start / end;
  grid-column: middle / end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.links li {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
}

.links li:last-child {
  margin-bottom: 0;
}

.links a:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 768px;
  }

  .description {
    font-size: 14px;
  }

  .links li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer {
    grid-template-rows: [start] auto [linksend] auto [decriptionend] auto [end];
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    max-width: 480px;
    margin: 100px auto 103px;
    text-align: center;
  }

  .description {
    grid-row: linksend / decriptionend;
    grid-column: auto;
    width: 100%;
  }

  .copyright {
    grid-row: decriptionend / end;
    grid-column: auto;
    width: 300px;
  }

  .links {
    display: flex;
    flex-direction: row;
    grid-row: start / linksend;
    grid-column: auto;
    gap: 30px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer {
    grid-template-rows: [start] auto [linksend] auto [decriptionend] auto [end];
    grid-template-columns: auto;
    gap: 20px;
    justify-items: center;
    max-width: 320px;
    margin: 100px auto 93px;
    text-align: center;
  }

  .description {
    grid-row: linksend / decriptionend;
    grid-column: auto;
    width: 100%;
    font-size: 14px;
  }

  .copyright {
    grid-row: decriptionend / end;
    grid-column: auto;
  }

  .links {
    display: flex;
    flex-direction: row;
    grid-row: start / linksend;
    grid-column: auto;
    gap: 30px;
  }
}
