.footer {
	display: grid;
	grid-template-columns: [start] 1fr [middle] auto [end];
	grid-template-rows: [start] auto [middle] auto [end];
	margin-top: 90px;
	padding: 0 80px 33px;
}

.description {
	grid-column: start / middle;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	width: 50%;
}

.copyright {
	grid-column: start / middle;
	align-self: end;
}

.links {
	grid-column: middle / end;
	grid-row: start / end;
	margin: 0;
	padding: 0;
	list-style: none;
}

.links li {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 20px;
}

.links li:last-child {
	margin-bottom: 0;
}
