.footer {
  display: grid;
  grid-template-rows: [start] auto [middle] auto [end];
  grid-template-columns: [start] 1fr [middle] auto [end];
  margin: 168px auto 33px;
  padding: 0 20px;
}

.description {
  grid-column: start / middle;
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.copyright {
  grid-column: start / middle;
  align-self: end;
}

.links {
  grid-row: start / end;
  grid-column: middle / end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.links li {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
}

.links li:last-child {
  margin-bottom: 0;
}
