.point {
  display: inline-block;
  text-align: center;
}

.title {
  color: var(--gray);
  font-size: 16px;
  line-height: 20px;
}

.count {
  font-weight: 500;
  font-size: 56px;
  line-height: 100%;
}

.count::after {
  display: inline-block;
  color: var(--lime);
  content: "+";
}

@media (min-width: 768px) and (max-width: 1023px) {
  .count {
    font-size: 36px;
  }
}
