.header {
  position: relative;
  display: grid;
  grid-auto-rows: auto 1fr;
  align-items: end;
  max-width: 1280px;
  min-height: 760px;
  margin: 0 auto;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  column-gap: 40px;
}

.contacts {
  margin-right: 96px;
}

.contacts svg {
  display: inline-block;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.3s;
  fill: var(--lime);
}

.contacts svg:hover {
  background: var(--lime);
  fill: var(--black-light);
}

.tg {
  margin-right: 24px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.download {
  padding: 18px 45px;
}

.download a {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
}

.download:hover,
.download:hover svg {
  color: var(--lime);
  border-color: var(--lime);
  fill: var(--lime);
}

.menu {
  display: flex;
  gap: 24px;
}

.description {
  display: grid;
  grid-template-rows: min(600px);
  grid-template-columns: minmax(auto, 845px) auto;
  justify-content: space-between;
  margin: 0 auto 130px;
  padding: 0 20px;
}

.container {
  align-self: end;
}

.description .paragraph {
  width: 617px;
}

.avatar {
  width: 400px;
  height: auto;
  margin-top: 60px;
  margin-right: 40px;
  border-radius: 50%;
  box-shadow: rgb(255 255 255 / 10%) 0 1px 0, rgb(143 255 0 / 10%) 0 8px 24px,
    rgb(143 255 0 / 10%) 0 16px 48px;
}

.avatar:hover {
  box-shadow: rgb(255 255 255 / 25%) 0 50px 100px -20px,
    rgb(143 255 0 / 30%) 0 30px 60px -30px;
}

.title {
  margin-bottom: 40px !important;
}

.mobileMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  padding: 20px;
  color: var(--black-light);
  font-weight: bold;
  background: var(--lime);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    max-width: 1024px;
  }

  .nav {
    grid-template-columns: repeat(3, auto);
    padding: 20px 40px;
  }

  .download {
    padding: 15px 30px;
  }

  .contacts {
    margin-right: 0;
  }

  .avatar {
    width: 350px;
    margin-right: 0;
    transform: translateX(-30px);
  }
}

@media screen and (max-width: 1023px) {
  .menu {
    display: none;
  }

  .mobileMenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .nav {
    grid-template-columns: repeat(2, auto);
    padding: 20px 40px;
  }

  .description {
    grid-auto-flow: dense;
    grid-template-rows: [start] 1fr [middle] 1fr [end];
    grid-template-columns: auto;
    justify-items: center;
  }

  .avatar {
    width: 100%;
    max-width: 320px;
  }

  .avatrPicture {
    grid-row: start / middle;
  }

  .title {
    text-align: center;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: 768px;
  }

  .download {
    padding: 15px 30px;
  }

  .description {
    margin-top: 100px;
  }

  .avatar {
    margin: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .avatar {
    margin: 60px auto 0;
  }

  .contacts {
    margin-right: 0;
  }

  .download {
    padding: 12px 30px;
  }

  .description {
    justify-content: center;
    margin-bottom: 0;
  }

  .container {
    align-self: center;
  }

  .mobileMenu {
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header {
    width: 100%;
    max-width: 768px;
  }

  .mobileMenu {
    padding: 10px 20px;
  }

  .mobileMenu svg {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .header {
    width: 100%;
    max-width: 479px;
    min-height: auto;
  }

  .nav {
    gap: 10px;
    padding: 20px;
  }

  .contacts {
    margin-right: 0;
  }

  .contacts svg {
    width: 20px;
    height: 20px;
  }

  .tg {
    margin-right: 12px;
  }

  .avatar {
    width: 100%;
  }

  .container {
    align-self: start;
    margin-top: 50px;
  }

  .description {
    grid-template-rows: [start] 1fr [middle] auto [end];
  }

  .mobileMenu {
    padding: 10px;
  }

  .mobileMenu svg {
    width: 20px;
    height: 20px;
  }

  .link {
    font-size: 10px;
  }
}
