.header {
	position: relative;
	height: 100vh;
	display: grid;
	grid-auto-rows: auto 1fr;
	align-items: end;
}

.nav {
	padding: 20px 80px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 40px;
	align-items: center;
	justify-content: space-between;
}

.contacts {
	margin-right: 96px;
}

.contacts svg {
  fill: var(--lime);
  padding: 20px;
  
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 8px;
  box-sizing: content-box;
  border-radius: 8px;
}

.contacts svg:hover {
  fill: var(--black-light);
  background: var(--lime);
}

.tg {
  margin-right: 24px;
}

.link {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
}

.link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.download {
	padding: 18px 45px;
}

.download a {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
}


.menu {
	display: flex;
	gap: 24px;
}

.description {
	width: 845px;
	margin-bottom: 160px;
	margin-left: 80px;
}

.description p {
	width: 617px;
}

.avatar {
	border-radius: 50%;
	position: absolute;
	top: 15%;
	right: 15%;
	box-shadow: rgb(255 255 255 / 10%) 0 1px 0, rgb(143 255 0 / 10%) 0 8px 24px, rgb(143 255 0 / 10%) 0 16px 48px;
}

.avatar:hover {
	box-shadow: rgb(255 255 255 / 25%) 0 50px 100px -20px, rgb(143 255 0 / 30%) 0 30px 60px -30px;
}

.title {
	margin-bottom: 40px !important;
}
