.portfolio {
  padding-top: 63px;
  background: #0b0b0b;
}

.colored {
  color: var(--orange);
}

.header {
  display: grid;
  grid-template-columns: auto 217px;
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  width: 197px;
  margin-top: 16px;
  padding: 20px 0;
}

.sticker {
  background: var(--lime);
}

.latestProjects__slider {
  display: flex;
  max-width: 1280px;
}

.stickers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.works {
  gap: 30px;
  margin: 100px auto 78px;
}
