.services {
  position: relative;
  width: 1280px;
  margin: 168px auto;
  padding: 0 20px;
}

.colored {
  color: var(--orange);
}

.frontend {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: [start] auto [middle] max(700px) [end];
  margin-top: 130px;
}

.header {
  grid-column: start / end;
  justify-self: flex-start;
}

.header span,
.headerBackend span {
  margin-right: 5px;
  color: var(--lime);
}

.description {
  grid-column: middle / end;
  justify-self: flex-end;
  margin: 32px 0 40px;
}

.list {
  grid-column: start / end;
  border-spacing: 0;
}

.list td {
  padding: 50px 60px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  border-color: #8d8d8d;
  border-style: solid;
  border-width: 2px 2px 2px 0;
}

.list td:first-child {
  border-left: 2px solid var(--gray);
}

.bigCoube {
  position: absolute;
  top: 8%;
  right: 80px;
  width: 137px;
}

.smallCoube {
  position: absolute;
  top: 20%;
  right: 229px;
  width: 40px;
}

.backend {
  position: relative;
  display: grid;
  grid-template:
    repeat(3, auto)
    / [start] auto [middle] max(700px) [middleend] auto [end];
  grid-template-areas:
    ". header ."
    ". description ."
    ". list .";
  align-items: center;
  margin-top: 96px;
  text-align: center;
}

.headerBackend {
  grid-area: header;
}

.descriptionBackend {
  grid-area: description;
  margin: 32px 0 40px;
}

.thirdCoube {
  position: absolute;
  top: 21px;
  left: -20px;
  width: 38px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .services {
    width: 1024px;
    margin: 100px auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services {
    width: 768px;
    margin: 100px auto;
  }

  .bigCoube {
    right: 20px;
    width: 50px;
  }

  .smallCoube {
    top: 14%;
    right: 70px;
    width: 20px;
  }

  .frontend {
    grid-template-rows: auto auto auto;
    grid-template-columns: [start] minmax(auto, 768px) [end];
    margin-top: 100px;
  }

  .description {
    grid-column: start/end;
  }

  .list td {
    padding: 20px 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    border-color: #8d8d8d;
    border-style: solid;
    border-width: 2px 2px 2px 0;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .services {
    width: 100%;
    max-width: 767px;
    margin: 50px auto;
  }

  .frontend {
    grid-template-rows: auto auto auto;
    grid-template-columns: [start] 1fr [end];
    margin-top: 100px;
  }

  .description {
    grid-column: start / end;
  }

  .list tr {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
  }

  .list td {
    border-color: #8d8d8d;
    border-style: solid;
    border-width: 2px 2px 0;
  }

  .list td:last-child {
    border-bottom: 2px solid var(--gray);
  }

  .backend {
    grid-template: auto auto auto / [start] 1fr auto auto [end];
    grid-template-areas:
      "header header header"
      "description description description"
      "thirdcoube bigcoube smallcoube ";
    margin-top: 100px;
  }

  .bigCoube {
    right: 20px;
    grid-area: bigcoube;
    width: 70px;
  }

  .smallCoube {
    top: 213px;
    right: 75px;
    grid-area: smallcoube;
    width: 30px;
  }

  .thirdCoube {
    top: auto;
    bottom: -40px;
    grid-area: thirdcoube;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .services {
    width: 100%;
    max-width: 767px;
    margin: 50px auto;
  }

  .frontend {
    grid-template-rows: auto auto auto;
    grid-template-columns: [start] 1fr [end];
    margin-top: 80px;
  }

  .description {
    grid-column: start / end;
  }

  .list tr {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
  }

  .list td {
    border-color: #8d8d8d;
    border-style: solid;
    border-width: 2px 2px 0;
  }

  .list td:last-child {
    border-bottom: 2px solid var(--gray);
  }

  .backend {
    grid-template: auto auto auto / [start] 1fr auto auto [end];
    grid-template-areas:
      "header header header"
      "description description description"
      "thirdcoube bigcoube smallcoube ";
    margin-top: 80px;
  }

  .bigCoube {
    top: 90px;
    right: 2%;
    grid-area: bigcoube;
    width: 50px;
  }

  .smallCoube {
    top: 137px;
    right: 48px;
    grid-area: smallcoube;
    width: 20px;
  }

  .thirdCoube {
    top: auto;
    bottom: -50px;
    left: -30px;
    grid-area: thirdcoube;
  }
}
