

:root {
	--black: #000;
  --black-light: #1E1E1E;
	--white: #FFF;
	--gray: #8D8D8D;
	--gray-light: #EBEBEB;
	--gray-dark: #787D85;
  --lime: #8FFF00;
  --orange: #fff500;
	--red: #FC836D;
	--red-light: #FDCCC4;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Roboto", "Montserrat", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #555 rgba(255, 255, 255, 0);
}

html,
body {
	overflow-x: hidden;
	max-width: 100vw;
	color: var(--white);
	background: var(--black);
	font-family: var(--font-family);
}

*::-webkit-scrollbar {
  width: 6px; 
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255, 0);        /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(182, 171, 171, 0.3);
  background-color: #555;
  border-radius: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}
* {
  min-height: 0;
  min-width: 0;
}