.sticker {
  display: flex;
  gap: 13px;
  padding: 24px 0;
  white-space: nowrap;
  box-shadow: 0 22px 81px rgb(0 0 0 / 45%);
}

.sticker span {
  color: var(--black);
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
}

.sticker span::after {
  display: inline-block;
  margin-left: 13px;
  content: "•";
}
