.sticker {
  display: flex;
  gap: 13px;
  padding: 24px 0;
  white-space: nowrap;
  box-shadow: 0 22px 81px rgb(0 0 0 / 45%);
}

.sticker span {
  color: var(--black);
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
}

.sticker span::after {
  display: inline-block;
  margin-left: 13px;
  content: "•";
}

@media (min-width: 480px) and (max-width: 767px) {
  .sticker {
    gap: 5px;
    padding: 12px 0;
  }

  .sticker span {
    font-size: 20px;
  }

  .sticker span::after {
    margin-left: 5px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .sticker {
    gap: 5px;
    padding: 12px 0;
  }

  .sticker span {
    font-size: 20px;
  }

  .sticker span::after {
    margin-left: 5px;
  }
}
