.sticker {
	padding: 24px 0;
	white-space: nowrap;
	box-shadow: 0 22px 81px rgb(0 0 0 / 45%);
	display: flex;
	gap: 13px;
}

.sticker span {
	font-weight: 600;
	font-size: 50px;
	line-height: 100%;
	color: var(--black);
}

.sticker span::after {
	content: "•";
	display: inline-block;
	margin-left: 13px;
}
